{"host":"https://app.dominodatalab.com","user_id":"563f9e01e4b098099f06f964","username":"behrica","api_key":"YCGUDFuriuIKnqfPqFAJ1Nbb2nfIpUt9Ny2cs7HAcCqcF34hqPd9LEASzoe1Vttt","client_blob_mode":"S3","is_cloud_mode":true,"is_cloud_hosted":true,"report_errors_to_server":false}
