#!/bin/bash
current=""
while true; do
    latest=`ec2metadata --public-ipv4`
    echo "public-ipv4=$latest"
    if [ "$current" == "$latest" ]
    then
	echo "ip not changed" 
    else
	echo "ip has changed - updating"
	current=$latest
	echo url="https://www.duckdns.org/update?domains=cbds&token=cc96253b-a324-426f-88c4-e4809d7aba97&ip=" | curl -k -o ~/duckdns/duck.log -K -
    fi
    sleep 5m
done
